TelerikWebSiteSGCIS/App_WebReferences/SGCISSoapServices/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEPersonType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPersonType" nillable="true" type="tns:BEPersonType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPersonType" nillable="true" type="tns:ArrayOfBEPersonType" />
  <xs:complexType name="BEPersonType">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPersonType" nillable="true" type="tns:BEPersonType" />
  <xs:complexType name="ArrayOfBEPerson">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEPerson" nillable="true" type="tns:BEPerson" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEPerson" nillable="true" type="tns:ArrayOfBEPerson" />
  <xs:complexType name="BEPerson">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonAge" type="xs:int" />
      <xs:element minOccurs="0" name="PersonId" type="xs:int" />
      <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonTypeDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonTypeId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEPerson" nillable="true" type="tns:BEPerson" />
  <xs:complexType name="BEAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="answerTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rowId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEAnswer" nillable="true" type="tns:BEAnswer" />
</xs:schema>